*{
    margin: 0;
    padding: 0;
}


h1 {
color:white;
font-size:50px;
text-align: center;
font-family: 'Almarai', sans-serif;

}
 h3, h4, h5, label, p, legend, span, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
nav a {
    font-family: 'Montserrat',sans-serif;
}
button, input [type="submut"] {
    font-family: 'Montserrat',sans-serif;
}

legend, label, .design-title {
    font-family: 'Montserrat',sans-serif;
}
textarea{
    font-family: 'Montserrat',sans-serif;
}

body {
background-color: black;

}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;

}

p {
    color: white;
    font-size: 25px;
    text-align: center;


}

form {
    color: white;
    text-align: center;
}

iframe {
    border: solid 6px rgb(137, 0, 0);
 
}

textarea {
    border : solid 3px rgb(137, 0, 0);
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"]  {
    border: solid 3px rgb(137, 0, 0);
    padding: 5px;
    outline: none;
}

input[type="radio"],
input[type="checkbox"]  {
    outline: solid 2px rgb(137, 0, 0);
    margin: 5px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}


a {
    color: white;
    font-size: 10px;
    text-align: center;
    display: block;
    margin-top: 20px;
}
 body{
    background-image: url("Images/Photo1.png");
    background-repeat: no-repeat;
    background-size: 50% auto; 
    background-position: center center;
    min-height: 100vh;
    margin: 0;

    background-image: url("Images/Red&Black.jpg");
    background-size: cover;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding-left: 0px;
    background: rgba(137, 0, 0,0.6);
    margin-bottom: 40px;
}
nav a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin-right: 200px;

}
nav a :first-of-type{
    margin-left: auto;
}
nav img {
    width: 120px;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px 300px;
    gap: 15px;
}

.container img {
    height: 100%;
    border-radius: 0;
    width: 100%;
}

.container header {
    background-color:rgb(137, 0, 0);
    grid-column: 1 / 4;
}
h2 {
    margin-top: 30px;
    display: block;
    text-align: center;
}
.container div h3 {
    text-decoration: none;
    font-weight: normal;
    margin-top: 5px;
}
.container div {
    text-align: center;
    font-size: 80px;
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-content: start;
    height: auto;
}

.parent > div {
    background-color:rgb(137, 0, 0) ;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin: 0;
}
.parent img {
    width: 100%;
    display: block;
}


body[style*="background-color: white"] * {
    color: black !important;
}

button {
     border : solid 3px rgb(137, 0, 0);
    outline: none;
    font-weight: bold;
}

@media (max-width: 960px) {
.parent {
    grid-template-columns: 1fr 1fr;
}
.parent>div {
    text-align: center;
    font-size: 90px;
}
}

@media (max-width: 600px) {
.parent {
    grid-template-columns: 1fr;
}
.parent>div {
    text-align: center;
    font-size: 60px;
}
}

label,legend,fieldset,textarea {
    font-family: 'Montserrat',sans-serif !important;
}
